@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@font-face {
    font-family: "Roboto Slab";
    src: url("/fonts/robotoslab-regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: fallback;
}
@font-face {
    font-family: "Roboto Slab";
    src: url("/fonts/robotoslab-medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: fallback;
}
@font-face {
    font-family: "SourceSerifPro Italic";
    src: url("/fonts/sourceserifpro-italic.woff2") format("woff2");
    font-style: italic;
    font-display: fallback;
}
body {
    font-family: "Roboto Slab", sans-serif;
}

i,
em,
.prose i,
.prose q,
.prose blockquote {
    font-family: "SourceSerifPro Italic";
    font-style: italic;
}
.overlay {
    pointer-events: none;
    position: absolute;
    inset: 0;
    z-index: 9999;
    width: 100%;
    height: 100%;
    background-position: 0px 0px;
    background-size: 250px;
    background-repeat: repeat;
    opacity: 0.35;
}

[data-animation-controller="false"] [data-animate] {
    -webkit-animation: none;
    animation: none;
}
[data-animate] {
    --stagger: 0;
    --delay: 100ms;
    --start: 5ms;
}
@media (prefers-reduced-motion: no-preference) {
    [data-animate] {
        -webkit-animation: enter 0.6s both;
        animation: enter 0.6s both;
        -webkit-animation-delay: calc(
            var(--stagger) * var(--delay) + var(--start)
        );
        animation-delay: calc(var(--stagger) * var(--delay) + var(--start));
    }
}
@-webkit-keyframes enter {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: none;
    }
}
@keyframes enter {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: none;
    }
}
