code[data-theme*=" "],
code[data-theme*=" "] span {
    color: var(--shiki-light);
    background-color: var(--shiki-light-bg);
}

figure[data-rehype-pretty-code-figure] [data-highlighted-line] span,
figure[data-rehype-pretty-code-figure] [data-highlighted-chars] span {
    background: none;
}

figure[data-rehype-pretty-code-figure] [data-highlighted-line] {
    border-left: 2px solid #e95678;
}

figure[data-rehype-pretty-code-figure] pre {
    background-color: #ffffff;
}

figure[data-rehype-pretty-code-figure] [data-highlighted-line],
figure[data-rehype-pretty-code-figure] [data-highlighted-chars] {
    background-color: #eaeef280;
}

@media (prefers-color-scheme: dark) {
    code[data-theme*=" "],
    code[data-theme*=" "] span {
        color: var(--shiki-dark);
        background-color: var(--shiki-dark-bg);
    }

    figure[data-rehype-pretty-code-figure] pre {
        background-color: #0b0c0f;
    }

    figure[data-rehype-pretty-code-figure] [data-highlighted-line],
    figure[data-rehype-pretty-code-figure] [data-highlighted-chars] {
        background-color: #6c6f934d;
    }
}

pre > code {
    display: grid;
}

code {
    counter-reset: line;
}

code > [data-line]::before {
    counter-increment: line;
    content: counter(line);
    display: inline-block;
    width: 1rem;
    margin-right: 2rem;
    text-align: right;
    color: gray;
}

code[data-line-numbers-max-digits="2"] > [data-line]::before {
    width: 2rem;
}

code[data-line-numbers-max-digits="3"] > [data-line]::before {
    width: 3rem;
}

/*TODO: bad for lightmode*/
/* [data-chars-id] { */
/*     @apply shadow-none p-1 !rounded; */
/* } */
/**/
/* [data-chars-id="v"] { */
/*     @apply !text-pink-300 !bg-rose-800/50 font-bold; */
/* } */
/**/
/* [data-chars-id="s"] { */
/*     @apply !text-teal-300 !bg-teal-800/50 font-bold; */
/* } */
/**/
/* [data-chars-id="i"] { */
/*     @apply !text-blue-200 !bg-blue-800/50 font-bold; */
/* } */
/**/

img {
    border-radius: 6px;
}

mark {
    background-color: #e9d2fd;
    border-radius: 2px;
    padding: 1.5px 2.5px;
}

.astro-code {
    border-radius: 6px;
}

.prose .anchor {
    position: absolute;
    visibility: hidden;
    text-decoration-line: none;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;

    margin-left: -0.9em;
    padding-right: 0.5em;
    width: 80%;
    max-width: 700px;
    cursor: pointer;
}

.anchor:hover {
    visibility: visible;
}

.prose .anchor:after {
    @apply text-neutral-300 dark:text-neutral-700;
    content: "#";
}

.prose *:hover > .anchor {
    visibility: visible;
}
