---
import "../../styles/markdown.css";
import { type CollectionEntry, getCollection, getEntry } from "astro:content";
import Base from "@layouts/base.astro";
import Nav from "@components/Nav.astro";

export async function getStaticPaths() {
    const posts = await getCollection("writings");
    return posts.map((post) => ({
        params: { slug: post.slug },
        props: post,
    }));
}
type Props = CollectionEntry<"writings">;

const post = Astro.props;
const { Content } = await post.render();

const blogPost = await getEntry("writings", post.slug);
const { remarkPluginFrontmatter } = await blogPost.render();
---

<Base
    title={post.data.title}
    description={post.data.description}
    image={`https://linad.me/${post.slug}.png`}
>
    <div>
        <Nav href="/writings" label="Writings" />
    </div>
    <h1 class="px-8 md:px-12 max-w-5xl mx-auto text-3xl lg:text-4xl">
        {post.data.title}
    </h1>
    <div
        class="px-8 md:px-12 mx-auto grid grid-cols-[auto_1fr_auto] items-center mt-7 mb-10 font-mono text-sm max-w-5xl"
    >
        <div
            class="bg-neutral-300 dark:bg-neutral-800 rounded-md px-2 py-1 tracking-tighter"
        >
            {
                post.data.pubDate.toLocaleDateString("en-GB", {
                    day: "2-digit",
                    month: "2-digit",
                    year: "numeric",
                })
            }
        </div>
        <div class="h-[0.2em] bg-neutral-300 dark:bg-neutral-800 mx-2"></div>
        <div>{remarkPluginFrontmatter.minutesRead}</div>
    </div>

    <article
        class="pb-16 px-8 md:px-12 max-w-5xl mx-auto h-full prose prose-quoteless prose-neutral dark:prose-invert scrollbar-thin scrollbar-track-zinc-200 scrollbar-thumb-zinc-400 dark:scrollbar-track-zinc-900 dark:scrollbar-thumb-zinc-700"
    >
        <Content />
    </article>
</Base>
