---
import { getCollection } from "astro:content";
import { Icon } from "astro-icon/components";
import Base from "@layouts/base.astro";
import Nav from "@components/Nav.astro";

const writings = (await getCollection("writings")).sort(
    (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<Base
    title="Writings - Wahid Islam Linad"
    description="An archive of Wahid Islam Linad's writings"
>
    <div>
        <Nav href="/" label="Home" />
    </div>
    <div
        id="read"
        class="flex flex-col lg:grid lg:grid-cols-[1fr,3fr] gap-16 h-full px-8 md:px-12 py-16"
    >
        <div>
            <h1
                data-animate
                style="--stagger:1"
                class="uppercase text-6xl font-medium"
            >
                Writings
            </h1>
            <p data-animate style="--stagger:2" class="ml-2">
                Simply an archive of my thoughts.
                <a href="/rss.xml" aria-label="Link to rss feed">
                    <Icon
                        class="inline w-5 mb-1 ml-0.5 cursor-pointer aspect-square"
                        name="rss"
                    />
                </a>
            </p>
        </div>
        <div class="relative flex flex-col gap-2">
            <div class="group pointer-events-none">
                <ul
                    data-animate
                    style="--stagger:3"
                    class="peer flex flex-col transition-colors group-focus-within:text-zinc-400 group-hover:text-zinc-400 dark:group-focus-within:text-zinc-600 dark:group-hover:text-zinc-600 pointer-events-none divide-y divide-zinc-300 dark:divide-zinc-700 border-y border-zinc-300 dark:border-zinc-700 h-min"
                >
                    {
                        writings.map((post) => (
                            <li>
                                <a
                                    class="py-6 block transition-colors focus:text-zinc-900 hover:text-zinc-900 dark:focus:text-zinc-100 dark:hover:text-zinc-100 pointer-events-auto outline-none ring-zinc-500 focus-visible:ring-2 focus-within:z-10 relative"
                                    href={`/writings/${post.slug}`}
                                >
                                    <div class="flex gap-4 justify-between">
                                        <div class="inline-flex gap-4">
                                            <span>{post.data.title}</span>
                                        </div>
                                        <div class="inline-block tabular-nums text-right">
                                            {post.data.pubDate.toLocaleDateString(
                                                "en-GB",
                                                {
                                                    day: "2-digit",
                                                    month: "2-digit",
                                                    year: "numeric",
                                                }
                                            )}
                                        </div>
                                    </div>
                                </a>
                            </li>
                        ))
                    }
                </ul>
            </div>
        </div>
        <style>
            /* Group-* applies to all groups so I can't use it on this CTA since it will be activated by the group some nodes up the tree that handles graying stuff on hover */
            .a:hover > *,
            .a:focus-visible > * {
                @apply translate-x-1;
            }
        </style>
    </div>
</Base>
