---
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";
import Base from "@layouts/base.astro";
import ExternalLink from "@components/ExternalLink.astro";
import Nav from "@components/Nav.astro";

import skills from "@assets/skill.webp";
---

<Base
    title="About - Wahid Islam Linad"
    description="Learn more about Wahid Islam Linad."
>
    <div
        class="flex flex-col gap-16 pb-16 w-full items-start justify-start min-h-screen"
    >
        <div>
            <Nav href="/" label="Home" />
        </div>
        <main
            class="flex flex-col md:grid md:grid-cols-2 md:grid-rows-2 gap-20 px-8 md:px-12 max-w-5xl mx-auto h-full"
        >
            <div data-animate style="--stagger:1">
                <h1 class="uppercase text-6xl font-medium">About</h1>
                <p>
                    Here you can learn more about me & the website. If you have
                    more queries feel free to contact me via <ExternalLink
                        url="mailto:hi@linad.me"
                    >
                        mail
                    </ExternalLink>
                </p>
            </div>
            <div
                data-animate
                style="--stagger:2"
                class="flex flex-col gap-12 md:row-span-2"
            >
                <div>
                    <h2 class="text-xl font-medium">Who am I..</h2>
                    <p class="mt-5">
                        I’m Wahid Islam Linad a student and a hobbyist
                        programmer from Bangladesh. I'm very passionate about
                        programming and have a strong desire to broaden my
                        intellectual horizons by learning more.
                    </p>
                </div>
                <div data-animate style="--stagger:3">
                    <h2 class="text-xl font-medium">What I do..</h2>
                    <p class="mt-5">
                        I like working with low level language like Rust or C
                        for making performant software although I have
                        relatively more experience using high level languages
                        like lua, typescript, python.
                    </p>
                    <p class="mt-5">
                        I am currently studying at <ExternalLink
                            url="https://aucm.edu.bd/"
                        >
                            Agricultural University College, Mymensingh
                        </ExternalLink> in the department of science.
                    </p>
                </div>
                <div data-animate style="--stagger:4">
                    <h2 class="text-xl font-medium">Tech Stack..</h2>
                    <p class="mt-5">
                        <Image
                            loading="lazy"
                            class="w-full aspect-[8/1]"
                            src={skills}
                            alt="icons for wahid islam linad\'s skillset"
                        />
                    </p>
                </div>
                <div data-animate style="--stagger:5">
                    <h2 class="text-xl font-medium">Contact..</h2>
                    <p class="mt-5">
                        <div class="grid grid-cols-1 md:grid-cols-2 gap-3">
                            <a
                                role="link"
                                aria-label="twitter"
                                rel="noopener noreferrer"
                                target="_blank"
                                href="https://twitter.com/wahidislamlinad"
                                class="flex w-full border border-neutral-300 dark:border-neutral-800 rounded-lg p-4 no-underline items-center text-neutral-800 dark:text-neutral-200 hover:dark:bg-neutral-900 hover:bg-neutral-100 transition-all justify-between"
                            >
                                <div class="flex items-center">
                                    <Icon
                                        class="inline w-6 aspect-square"
                                        name="twitter"
                                    />
                                    <div class="ml-3">Twitter</div>
                                </div>
                                <Icon
                                    class="inline ml-10 w-5 aspect-square"
                                    name="arrow-top-right"
                                />
                            </a>

                            <a
                                role="link"
                                aria-label="threads"
                                rel="noopener noreferrer"
                                target="_blank"
                                href="https://www.threads.net/@linad.me"
                                class="flex w-full border border-neutral-300 dark:border-neutral-800 rounded-lg p-4 no-underline items-center text-neutral-800 dark:text-neutral-200 hover:dark:bg-neutral-900 hover:bg-neutral-100 transition-all justify-between"
                            >
                                <div class="flex items-center">
                                    <Icon
                                        class="inline w-6 aspect-square"
                                        name="threads"
                                    />
                                    <div class="ml-3">Threads</div>
                                </div>
                                <Icon
                                    class="inline ml-10 w-5 aspect-square"
                                    name="arrow-top-right"
                                />
                            </a>
                            <a
                                role="link"
                                aria-label="GitHub"
                                rel="noopener noreferrer"
                                target="_blank"
                                href="https://github.com/PsyNyde"
                                class="flex w-full border border-neutral-300 dark:border-neutral-800 rounded-lg p-4 no-underline items-center text-neutral-800 dark:text-neutral-200 hover:dark:bg-neutral-900 hover:bg-neutral-100 transition-all justify-between"
                            >
                                <div class="flex items-center">
                                    <Icon
                                        class="inline w-6 aspect-square"
                                        name="github"
                                    />
                                    <div class="ml-3">GitHub</div>
                                </div>
                                <Icon
                                    class="inline ml-10 w-5 aspect-square"
                                    name="arrow-top-right"
                                />
                            </a>
                            <a
                                role="link"
                                aria-label="Discord"
                                rel="noopener noreferrer"
                                target="_blank"
                                href="https://discordapp.com/users/697797379583115315/"
                                class="flex w-full border border-neutral-300 dark:border-neutral-800 rounded-lg p-4 no-underline items-center text-neutral-800 dark:text-neutral-200 hover:dark:bg-neutral-900 hover:bg-neutral-100 transition-all justify-between"
                            >
                                <div class="flex items-center">
                                    <Icon
                                        class="inline w-6 aspect-square"
                                        name="discord"
                                    />
                                    <div class="ml-3">Discord</div>
                                </div>
                                <Icon
                                    class="inline ml-10 w-5 aspect-square"
                                    name="arrow-top-right"
                                />
                            </a>
                        </div>
                    </p>
                </div>
            </div>
            <div data-animate style="--stagger:6" class="place-self-end w-full">
                <ExternalLink
                    url="https://creativecommons.org/licenses/by-nc-sa/4.0/"
                >
                    CC BY-NC-SA 4.0
                </ExternalLink> 2023-PRESENT © Wahid Islam Linad
            </div>
        </main>
    </div>
</Base>
