---
import Base from "@layouts/base.astro";
import linad from "@assets/wahid_islam_linad_dithered_b_w.webp";
import linad_smol from "@assets/wahid_islam_linad_dithered_b_w_smol.webp";
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";
import Read from "@components/Read.astro";
---

<Base
    title="Wahid Islam Linad"
    description="I, Linad, am a developer with a mindset to create aesthetic and functional programs throughout my lifespan."
>
    <section
        class="flex flex-col-reverse lg:flex-row px-10 lg:px-20 lg:justify-between items-center lg:min-h-[75vh]"
    >
        <div class="max-w-lg lg:mt-16">
            <div data-animate style="--stagger:1" class="mb-10">
                <h1
                    class="inline uppercase text text-4xl sm:text-5xl font-medium"
                >
                    Wahid <br /> Islam Linad
                </h1>
                <p class="inline ml-2">
                    In the realm of creation I seek eternal perfection.
                </p>
            </div>

            <div data-animate style="--stagger:2" class="flex flex-col">
                <p class="mb-10 max-w-xs">
                    I, <strong class="font-medium">/linað/</strong>, am a
                    developer with a mindset to create <i>aesthetic</i> and functional
                    programs throughout my lifespan.
                </p>
                <a
                    role="link"
                    aria-label="More about me"
                    class="flex gap-1 items-center p-2 -ml-2 underline underline-offset-2 outline-none decoration-1 decoration-zinc-400 hover:decoration-zinc-600 dark:hover:decoration-zinc-200 focus-visible:ring-2 ring-zinc-500 ring-offset-zinc-100 dark:ring-offset-zinc-900 ring-offset-2 group"
                    href="/about"
                    >More about me<Icon
                        class="inline h-[16px] w-[16px] transition-transform transform translate-y-[1px] group-focus-visible:translate-x-1 group-hover:translate-x-1 text-zinc-400 group-hover:text-zinc-600 dark:group-hover:text-zinc-200"
                        name="arrow-right"
                    />
                </a>
            </div>
        </div>
        <div
            class="self-end lg:self-auto mt-6 mb-5 lg:my-auto aspect-[3/4] h-[18vh] lg:h-max bg-zinc-200 dark:bg-zinc-900"
        >
            <figure class="relative h-full">
                <picture>
                    <source
                        srcset={linad_smol.src}
                        media="(max-width: 1024px)"
                        type="image/webp"
                    />
                    <Image
                        loading="eager"
                        class="h-full w-full object-cover object-center rounded-sm aspect-[3/4]"
                        src={linad}
                        alt="A dithered image of Wahid Islam Linad"
                    />
                </picture>
            </figure>
        </div>
    </section>
    <div class="mt-10 min-h-screen flex flex-col justify-between">
        <section data-animate style="--stagger:3">
            <Read />
        </section>
    </div>
    <a
        aria-hidden="true"
        rel="me"
        class="invisible"
        href="https://fosstodon.org/@wahidislam">Mastodon</a
    >
</Base>
