---
import { Icon } from "astro-icon/components";

export interface Props {
    url: string;
}

const { url } = Astro.props;
---

<a
    class="inline items-center group outline-none focus-visible:ring-2 ring-zinc-500 ring-offset-2 ring-offset-zinc-100 dark:ring-offset-zinc-900"
    href={url}
    target="_blank"
>
    <span
        class="underline underline-offset-2 decoration-1 decoration-zinc-400 group-hover:decoration-zinc-600 dark:group-hover:decoration-zinc-200"
    >
        <slot />
    </span>
    <Icon
        class="inline mb-0.5 h-[16px] w-[16px] group-hover:translate-x-[2px] group-hover:-translate-y-[1px] group-focus-visible:translate-x-[2px] group-focus-visible:-translate-y-[1px] transition-transform transform translate-y-[1px] aspect-square text-zinc-400 group-hover:text-zinc-600 dark:group-hover:text-zinc-200"
        name="arrow-top-right"
    />
</a>
