---
import { getCollection } from "astro:content";
import { Icon } from "astro-icon/components";

const writings = (await getCollection("writings")).sort(
    (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<div
    id="read"
    class="flex flex-col lg:grid lg:grid-cols-[1fr,3fr] gap-16 h-full px-10 lg:px-16 py-16"
>
    <h1 class="text-2xl">
        Here are some writings of mine that you can read. Feel free to criticize
        them, I'm always looking forward to improve.
    </h1>
    <div class="group pointer-events-none">
        <ul
            class="peer flex flex-col transition-colors group-focus-within:text-zinc-400 group-hover:text-zinc-400 dark:group-focus-within:text-zinc-600 dark:group-hover:text-zinc-600 pointer-events-none divide-y divide-zinc-300 dark:divide-zinc-700 border-y border-zinc-300 dark:border-zinc-700 h-min"
        >
            {
                writings.slice(0, 5).map((post) => (
                    <li>
                        <a
                            class="py-6 block transition-colors focus:text-zinc-900 hover:text-zinc-900 dark:focus:text-zinc-100 dark:hover:text-zinc-100 pointer-events-auto outline-none ring-zinc-500 focus-visible:ring-2 focus-within:z-10 relative"
                            href={`/writings/${post.slug}`}
                        >
                            <div class="flex gap-4 justify-between">
                                <div class="inline-flex gap-4">
                                    <span>{post.data.title}</span>
                                </div>
                                <div class="inline-block tabular-nums text-right">
                                    {post.data.pubDate.toLocaleDateString(
                                        "en-GB",
                                        {
                                            day: "2-digit",
                                            month: "2-digit",
                                            year: "numeric",
                                        }
                                    )}
                                </div>
                            </div>
                        </a>
                    </li>
                ))
            }
        </ul>
        <a
            role="link"
            aria-label="Explore all writings"
            class="a pointer-events-auto flex gap-1 items-center peer-hover:text-zinc-400 peer-focus-within:text-zinc-400 dark:peer-hover:text-zinc-600 dark:peer-focus-within:text-zinc-600 text-zinc-600 dark:text-zinc-400 hover:text-zinc-900 focus:text-zinc-900 dark:hover:text-zinc-200 dark:focus:text-zinc-200 transition-colors p-2 -ml-2 w-max underline underline-offset-2 decoration-1 outline-none focus-visible:ring-2 ring-zinc-500 ring-offset-zinc-100 dark:ring-offset-zinc-900 ring-offset-2"
            href="/writings/"
            >Explore all writings<Icon
                class="inline h-[15px] w-[15px] transition-transform transform translate-y-[1px] aspect-square"
                name="arrow-right"
            />
        </a>
    </div>
</div>
<style>
    /* Group-* applies to all groups so I can't use it on this CTA since it will be activated by the group some nodes up the tree that handles graying stuff on hover */
    .a:hover > *,
    .a:focus-visible > * {
        @apply translate-x-1;
    }
</style>
