---
import { ViewTransitions } from "astro:transitions";

import "./../styles/global.css";
export interface Props {
    title: string;
    description: string;
    image?: string;
}

const {
    title,
    description,
    image = "https://linad.me/images/dither_it_me.jpg",
} = Astro.props as Props;

import { getImage } from "astro:assets";
import Grain from "@assets/grain.png";

const grain = await getImage({ src: Grain, format: "png" });
---

<html lang="en" class="scroll-smooth antialiased">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <ViewTransitions />
        <title>
            {title}
        </title>

        <meta name="description" content={description} />
        <meta
            name="keywords"
            content="WahidIslamLinad,blog,article,wahidislam,developer,linad,portfolio"
        />
        <meta name="robots" content="index, follow" />
        <link rel="canonical" href={Astro.url} />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="language" content="English" />
        <meta name="revisit-after" content="1 days" />
        <meta name="author" content="Wahid Islam Linad" />

        <meta property="og:title" content={title} />
        <meta property="og:description" content={description} />
        <meta property="og:url" content={Astro.url} />
        <meta property="og:type" content="website" />
        <meta property="og:image" content={image} />
        <link rel="sitemap" href="https://linad.me/sitemap-index.xml" />
        <!-- Twitter Meta Tags -->
        <meta name="twitter:card" content="summary_large_image" />
        <meta property="twitter:domain" content="linad.me" />
        <meta property="twitter:url" content={Astro.url} />
        <meta name="twitter:title" content={title} />
        <meta name="twitter:description" content={description} />
        <meta name="twitter:image" content={image} />

        <!-- favicon -->
        <link
            rel="apple-touch-icon"
            sizes="180x180"
            href="/favicon/apple-touch-icon.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="/favicon/favicon-32x32.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="16x16"
            href="/favicon/favicon-16x16.png"
        />
        <link rel="manifest" href="/favicon/site.webmanifest" />
        <link rel="shortcut icon" href="/favicon/favicon.ico" />
        <link rel="icon" href="/favicon/favicon.ico" />
        <meta name="apple-mobile-web-app-title" content="Linad" />
        <meta name="application-name" content="Linad" />
        <meta name="msapplication-TileColor" content="#18181b" />
        <meta
            name="msapplication-config"
            content="/favicon/browserconfig.xml"
        />
        <meta name="theme-color" content="#18181b" />

        <meta name="generator" content={Astro.generator} />
        <!-- fonts -->
        <link
            rel="preload"
            href="/fonts/robotoslab-medium.woff2"
            as="font"
            type="font/woff2"
            crossorigin="anonymous"
        />
        <link
            rel="preload"
            href="/fonts/robotoslab-regular.woff2"
            as="font"
            type="font/woff2"
            crossorigin="anonymous"
        />
        <link
            rel="preload"
            href="/fonts/sourceserifpro-italic.woff2"
            as="font"
            type="font/woff2"
            crossorigin="anonymous"
        />
    </head>
    <body
        class="min-h-screen relative bg-zinc-200 text-zinc-900 dark:bg-zinc-900 dark:text-zinc-200 scrollbar-thin scrollbar-track-zinc-200 scrollbar-thumb-zinc-400 dark:scrollbar-track-zinc-900 dark:scrollbar-thumb-zinc-700"
    >
        <div class="overlay" style={`background-image: url(${grain.src});`}>
        </div>
        <slot />
    </body>
</html>
